extend base

block content
    h1 Edit Profile
    span=errorMessage
    form(method="POST")
        input(name="email", placeholder="email", required="True", value=user.email)
        input(name="username", placeholder="name", required="True" value=user.username)
        input(type="submit", value="Edit")