extend base
include mixins/video

block content
    a(href="/videos/upload") upload video
    br
    a(href="/search") Search video
    h1 Welcome Home!

    each video in videos
        +video(video)
    else
        h4 sorry, nothing here.