extend base
include mixins/video

block content
    header
            h1=pageTitle
    nav
        ul
            li
                a(href="/videos/upload") Upload Video
            li
                a(href="/") Home
            li
                a(href="/search") Search
            if (!loggedIn)    
                li
                    a(href="/join") Join
                li
                    a(href="/login") Login
            else 
                li
                    a(href="/users/logout") Log Out 

    each video in videos
        +video(video)
    else
        h4 sorry, nothing here.