extend base

block content 
    header 
        h1 Join
    span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="image") Image File
        input(type="file", accept="image/*", required="True", id="image", name="image")
        input(name="email", placeholder="email", required="True")
        input(name="password", type="password", placeholder="password", required="True")
        input(name="password2", type="password", placeholder="comfirm password", required="True")
        input(name="name", placeholder="name", required="True")
        input(name="username", placeholder="name", required="True")
        input(type="submit", value="Join")