extend base

block content
    header 
        h1 Login
    span=errorMessage
    form(method="POST")
        input(name="email", placeholder="email", required="true")
        input(name="password", placeholder="password", type="password" required="true")
        input(type="submit")
        br
        a(href="/users/github/start") Continue with Github &rarr;