extend base

block content 
    span=errorMessage
    h1 upload video
    form(method="POST")
        input(name="title",placeholder="title",require)
        input(name="description",placeholder="description",require)
        input(name="hashtags",placeholder="hashtags",require)
        input(type="submit")